.fade,
.fade:focus {
	text-decoration: none;
	color: white;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	opacity: 0.6;
}

.fade:hover {
	text-decoration: none;
	color: white;
	opacity: 0.9;
}

.avatar {
	height: 15%;
	width: 15%;
	border-style: dashed;
	border-width: 0.1em;
	border-color: white;
}

hr {
	width: 70%;
	border-width: 0.1em;
	border-color: white;
	border-style: dashed;
}

p,
i {
	opacity: 0.9;
}

.section {
	text-align: center;
}

.arrow-bottom {
	position: absolute;
	bottom: 1em;
	margin-left: -1.5em;
}

.arrow-top {
	position: absolute;
	top: 1em;
	margin-left: -1.5em;
}

.resume {
	width: 70%;
	height: 70vh;
}

#section0 {
	background-image: url(img/background/Elegant_Background-1.jpg);
	background-size: cover;
	color: white;
}

#section1 {
	background-image: url(img/background/Elegant_Background-15.jpg);
	background-size: cover;
	color: white;
}

#section1 p {
	font-size: 1.5em;
}

#section2 {
	background-image: url(img/background/Elegant_Background-14.jpg);
	background-size: cover;
	color: white;
}

#section3 {
	background-image: url(img/background/Elegant_Background-9.jpg);
	background-size: cover;
	color: white;
}

#section3 {
	background-image: url(img/background/Elegant_Background-8.jpg);
	background-size: cover;
	color: white;
}

#section4 {
	background-image: url(img/background/Elegant_Background-6.jpg);
	background-size: cover;
	color: white;
}